-# Licensed to the Apache Software Foundation (ASF) under one or more
-# contributor license agreements.  See the NOTICE file distributed with
-# this work for additional information regarding copyright ownership.
-# The ASF licenses this file to You under the Apache License, Version 2.0
-# (the "License"); you may not use this file except in compliance with
-# the License.  You may obtain a copy of the License at
-# 
-# http://www.apache.org/licenses/LICENSE-2.0
-# 
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.
- import it._
- val helper = new org.apache.activemq.apollo.web.resources.ViewHelper
- import helper._
.breadcumbs
  a(href={strip_resolve("..")+".html"}) Back

h1 Connector: #{id}

p state: #{state} #{ uptime(state_since) } ago

- if( state == "STARTED" )
  form(method="post" action={path("action/stop")})
    input(type="submit" value="stop")
- else if( state == "STOPPED" )
  form(method="post" action={path("action/start")})
    input(type="submit" value="start")


p local address: #{local_address}
p protocol: #{protocol}

h2 Connections
p currently connected : #{connected}
p total connections since startup : #{connection_counter}
p messages received from connections: #{messages_received}
p messages sent to connections: #{messages_sent}
p bytes read from connections: #{memory(read_counter)}
p bytes written to connections: #{memory(write_counter)}

p
  - if( connections==null )
    a(href={ id+".html?connections=true" }) Show Connections
  - else
    a(href={ id+".html" }) Hide Connections
    ul
      - for( x <- connections )
        li
          a(href={ path("../../connections/"+x.id+".html") }) #{x.label}
