-# Licensed to the Apache Software Foundation (ASF) under one or more
-# contributor license agreements.  See the NOTICE file distributed with
-# this work for additional information regarding copyright ownership.
-# The ASF licenses this file to You under the Apache License, Version 2.0
-# (the "License"); you may not use this file except in compliance with
-# the License.  You may obtain a copy of the License at
-# 
-# http://www.apache.org/licenses/LICENSE-2.0
-# 
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.

- import it._
- val helper = new org.apache.activemq.apollo.web.resources.ViewHelper
- import helper._

.breadcumbs
  a(href={strip_resolve("..")+".html"}) Back

h1 Virtual Host: #{id}

p state: #{state} #{ uptime(state_since) } ago

- if ( store )
  p
    a(href={ path("store") }) store

h2 Queues
ul
  - for( x <- queues )
    li
      a(href={ path("queues/"+x+".html") }) #{x}

h2 Topics
ul
  - for( x <- topics )
    li
      a(href={ path("topics/"+x+".html") }) #{x}

h2 Durable Subscriptions
ul
  - for( x <- dsubs )
    li
      a(href={ path("dsubs/"+x+".html") }) #{x}
